///////// PRIMARY COLOR Variables
$transparent: transparent;
$black: #000000;
$black_opacity: rgba(0, 0, 0, 0.5);
$white: #fff;
$white_transparent: rgba(255, 255, 255, 0.7);
$red: #C81800;
$red_transparent: rgba(200, 24, 0, 0.75);
$green_faded: rgba(61, 119, 90, 0.44);
$green_fader: rgba(166, 255, 175, 0.20);
$green_fadest: rgba(190, 255, 202, 0.40);